<div id="social-bar">
    <div class="post-share">
        Share:
        <a class="googleplus" href="https://plus.google.com/share?url={{url absolute=" true "}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
            <i class="fa fa-google-plus"></i>
        </a>

        <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute=" true "}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
            <i class="fa fa-facebook-square"></i>
        </a>
        <a class="twitter" href="https://twitter.com/share?text={{title}}&url={{url absolute=" true "}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
            <i class="fa fa-twitter-square"></i>
        </a>

        <div class="clear"></div>
    </div>

    <aside class="taglist">
        {{#if tags}}

        Tags: {{tags separator=" "}}{{#if featured}}
        <i class="fa fa-star-o feature-star"></i>{{/if}}
        {{/if}}
    </aside>


    <div class="clear"></div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{asset '/js/rrssb.min.js'}}"></script> {{#contentFor "head"}}
<link rel="stylesheet" type="text/css" href="{{asset '/styles/rrssb.css'}}">
<meta property="og:title" content="{{title}}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{{excerpt}}..." /> {{/contentFor}}