{{!< default}}
{{#post}}
<article id="{{id}}" class="{{post_class}}">
	<div class="post-stamp">{{date published_at format='MMMM D, YYYY'}}</div>
	<h1 class="post-title">{{title}}</h1>
	{{content}}
    <hr>
	{{> share}}
    <hr>
	     {{> post-author}}
  {{> comments}}
</article>
{{/post}}